html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Castoro', serif;
  color:#000080;
}

h3 {
  font-size: 25px;
}

table, th, td {
  border: 1px solid black;
  font-size: 15px;
  font-family: 'Castoro', serif;

}
h3, h4, h5 {
  font-family: 'Castoro', serif;
    color:#006400;
}

table {
  padding: 2px;
}

p {
  font-size: 15px;
  font-family: 'Castoro', serif;
}
